{% include "header.html" %}
{% include "navbar.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2>Personal blog, description.</h2>
        <p>The blog was created from scratch on the Flask framework, written by one person with administrator rights. The posts highlight such a resource as Lorem Ipsum.</p>
        <h2>Site features:</h2>
        <p>- Only the administrator, the first created user in the database, has access rights to create and edit posts, delete comments;</p>
        <p>- All registered users can leave comments under posts;</p>
        <p>- Unregistered users can only view posts without the ability to comment.</p>
        <h2>Peculiar properties:</h2>
        <p>- To register and test the site, you can use any email, even non-existent (for example, user@mail.com);</p>
        <p>- To obtain administrator rights and create or edit posts, use: (login admin@mail.ru, password 12345). Please do not delete existing posts;</p>
        <p>- To upload an image to a post's cover page or body text form when creating a post, use the image address;</p>
        <p>- The text from the resource Lorem Ipsum was used as filling the text in the posts. This is just a fictitious text of the printing and typesetting industry.</p>
        <h2>Used technologies:</h2>
        <p>- Python, Flask</p>
        <p>- Templates Bootstrat</p>
        <p>- Jinja</p>
        <p>- HTML, CSS</p>
        <p>- PostgreSQL</p>
        <p>- WTForms</p>
        <p>- Authentication</p>
        <p>- GitHub / Version Control</p>
        <p>- The site is adapted to different screen sizes (laptop, tablet, phone)</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}