{% include "header.html" %}
{% include "navbar.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2>Personal blog, description.</h2>
        <p>The blog was created from scratch using the Flask framework. It's run by one person, with the administrator’s right. The posts cover such a resource as Lorem Ipsum.</p>
        <h2>Features of the site.</h2>
        <p>- Only the administrator, the first user created in the database, has the rights to create and edit posts, delete comments.</p>
        <p>- All registered users can leave comments under posts.</p>
        <p>- Unregistered users can only view posts without being able to comment.</p>
        <h2>Peculiar properties.</h2>
        <p>- To register and test the site, you can use any email, even non-existent (for example, user@mail.com).</p>
        <p>- To get administrator rights and create or edit posts, use: (login admin@mail.com, password 12345). Please don't delete existing posts.</p>
        <p>- To load an image into the form when creating a post, use the image address.</p>
        <p>- The Lorem Ipsum resource was used as the text in the posts. It is only a fictional text of the printing and typesetting industry.</p>
        <h2>Technologies were used:</h2>
        <p>- Python, Flask</p>
        <p>- Templates Bootstrat</p>
        <p>- Jinja</p>
        <p>- HTML, CSS</p>
        <p>- PostgreSQL</p>
        <p>- WTForms</p>
        <p>- Authentication</p>
        <p>- GitHub / Version Control</p>
        <p>- The site is adapted to different screen sizes (laptop, tablet, phone).</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}